/**
* ====================================================================
*  styles.css -- Global styles for the Fairfield StagUp website
* ====================================================================
*/
/*---- Basic Styling ----*/
h1 {
    color:red;
    font-weight: bold;
    font-family: sans-serif;
    float: center;
}
.btn-primary {
    background-color: #C6102E; /* bright cherry red */
    border-color: #A50D27; /* a darker shade of the same red */
}

/*---- Navbar Styling ----*/
navbar-brand { padding: 15px 15px;}


nav li {
  list-style:none outside;
}
